<div class="main">
    <div class="title-section">
        <div class="slogan">
            <span>
        Cuidamos de ti y de tu
        <span class="family">familia</span>
            </span>
        </div>
        <div class="info">
            <span>Ahora comunicarte con un médico especializado en lo que necesitas está
        al alcance de un click</span
      >
    </div>
  </div>

  <div class="body-section">
    <div class="adventages">
      <span class="title"> Nuestras ventajas </span>
            <div class="adventages-item">
                <div class="icon-container">
                    <img src="assets/build/images/icons/calendar.png" alt="" />
                </div>
                <span> Agenda una cita </span>
            </div>

            <div class="adventages-item">
                <div class="icon-container">
                    <img src="assets/build/images/icons/emergency.png" alt="" />
                </div>
                <span>Servicios de emergencia</span>
            </div>

            <div class="adventages-item">
                <div class="icon-container">
                    <img src="assets/build/images/icons/smartphone.png" alt="" />
                </div>
                <span>Teleconsultas</span>
            </div>
        </div>

        <div class="images-info">
            <div class="image-bg">
                <div class="image"></div>
            </div>
        </div>
    </div>
</div>