<main>
    <div class="services-title">
        <span class="subtitle">Todo lo que podemos hacer por ti</span>
        <span class="title">Servicios</span>
    </div>
    <div class="services-body">
        <div class="services-item">
            <div class="number col-1">/01</div>
            <div class="info col-4">
                <div class="info-title">Contacta profesionales de la salud</div>
                <div class="info-body">
                    En InMedic, podrás ponerte en contacto con doctores especialistas de más de 20 áreas distintas, que estarán dispuestos a ayudarte en cualquier necesidad médica que tengas. Aquí podras solicitar citas con ellos a cualquier hora del día y añadir observaciones
                    para que los doctores sepan exactamente cual es tu necesidad.
                </div>
            </div>
            <div class="more">
                <img src="assets/build/images/big/teleconsulta.jpg" alt="" />
            </div>
        </div>

        <div class="services-item">
            <div class="number col-1">/02</div>
            <div class="info col-4">
                <div class="info-title">Filtra por tus necesidades</div>
                <div class="info-body">
                    En InMedic, podrás buscar doctores de acuerdo con tus necesidades, y podrás flitrar tu búsqueda por nombre del doctor, especialidad del doctor y ciudad del doctor. Esto es con el fin de que obtengas un doctor en la especialidad adecuada para la necesidad
                    médica que tienes.
                </div>

            </div>
            <div class="more">
                <img src="assets/build/images/big/search.jpg" alt="" />
            </div>
        </div>

        <div class="services-item">
            <div class="number col-1">/03</div>
            <div class="info col-4">
                <div class="info-title">Agenda tus citas virtuales o presenciales</div>
                <div class="info-body">
                    Con nosotros, podrás agendar tu cita con el doctor que prefieras y en la modalidad que prefieras, es decir, virtual o presencial.
                </div>
            </div>
            <div class="more">
                <img src="assets/build/images/big/doctors-online.jpg" alt="" />
            </div>
        </div>
    </div>
</main>