<main>
  <div class="services-title">
    <span class="subtitle">Todo lo que podemos hacer por ti</span>
    <span class="title">Servicios</span>
  </div>
  <div class="services-body">
    <div class="services-item">
      <div class="number col-1">/01</div>
      <div class="info col-4">
        <div class="info-title">Contacta profesionales de la salud</div>
        <div class="info-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          similique consequuntur rem rerum a. Nam fugiat tempora odio hic nemo
          labore laboriosam numquam obcaecati eos, animi magnam atque nihil
          libero.
        </div>
      </div>
      <div class="more">
        <img src="assets/build/images/big/teleconsulta.jpg" alt="" />
      </div>
    </div>

    <div class="services-item">
      <div class="number col-1">/02</div>
      <div class="info col-4">
        <div class="info-title">Filtra por tus necesidades</div>
        <div class="info-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          similique consequuntur rem rerum a. Nam fugiat tempora odio hic nemo
          labore laboriosam numquam obcaecati eos, animi magnam atque nihil
          libero.
        </div>
      </div>
      <div class="more">
        <img src="assets/build/images/big/search.jpg" alt="" />
      </div>
    </div>

    <div class="services-item">
      <div class="number col-1">/03</div>
      <div class="info col-4">
        <div class="info-title">Agenda tus citas virtuales o presenciales</div>
        <div class="info-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          similique consequuntur rem rerum a. Nam fugiat tempora odio hic nemo
          labore laboriosam numquam obcaecati eos, animi magnam atque nihil
          libero.
        </div>
      </div>
      <div class="more">
        <img src="assets/build/images/big/search.jpg" alt="" />
      </div>
    </div>
  </div>
</main>
