<app-loader *ngIf="loader"></app-loader>
<main *ngIf="!loader">
  <div class="banner">
    <div class="info">
      <span>Bienvenido a InMedic</span>
      <p>Encuentra todo lo que buscas en un solo lugar</p>
      <div class="icons-info">
        <img src="assets/build/images/icons/alarma.png" alt="" />
        <img class="white" src="assets/build/images/icons/diente.png" alt="" />
        <img src="assets/build/images/icons/rodilla.png" alt="" />
        <img
          class="white"
          src="assets/build/images/icons/estomago.png"
          alt=""
        />
      </div>
    </div>
    <div class="right-side">
      <div class="container-img">
        <div class="blue-rectangle"></div>
        <div class="image"></div>
        <div class="infoMessage one">
          <div class="icon">
            <img src="assets/build/images/icons/search.png" alt="" />
          </div>
          <div class="info-text">Busca lo que necesitas</div>
        </div>
        <div class="infoMessage two">
          <div class="icon">
            <img src="assets/build/images/icons/user.png" alt="" />
          </div>
          <div class="info-text">Encuentra el mejor doctor</div>
        </div>
        <div class="infoMessage three">
          <div class="icon">
            <img src="assets/build/images/icons/check-mark.png" alt="" />
          </div>
          <div class="info-text">Obten soluciones</div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="filter-container" *ngIf="!loader">
  <div class="filter-bg">
    <div class="main-search col-6">
      <input
        class="main"
        placeholder="Realiza tu busqueda"
        [(ngModel)]="globalSearch"
        type="text"
      />
    </div>
    <div class="location-search col-5">
      <input
        type="text"
        placeholder="Filtra por tu ciudad"
        [(ngModel)]="city"
        class="location"
      />
    </div>
    <div class="search-btn" (click)="search()">
      <img src="assets/build/images/icons/search3.png" alt="" />
    </div>
  </div>
</div>
