.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: auto;
}

.main {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.approved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    overflow: auto;
}

.pending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    overflow: auto;
}

.bar {
    width: 3px;
    background-color: #00B0FF;
    border-radius: 3px;
}

h4 {
    padding-bottom: 15px;
}

.card {
    margin: 30px;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 0 10px 23px rgba(63, 175, 255, 0.4);
      -moz-box-shadow: 0px 0px 29px -18px rgba(63, 175, 255, 0.80);
      box-shadow: 0 10px 23px rgb(61 174 255 /30%);

}

.card-title{
  margin: 12px;
}

.card-contain{
  height: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: column;
}

.info{
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
  background-color: #00B0FF;
  margin-right: 12px;
}

.info:hover{
  background-color: #017cb5;
}

.service{
  margin-bottom: 10px;
}


