<header>
    <img src="assets/build/images/icons/arrow.png" (click)="goBack()" alt="" />
</header>

<div class="profile">
    <img src="assets/build/svg/profile_avatar.svg" alt="" />
    <span>Nombre del doctor</span>
</div>
<div class="body">
    <div class="section-1">
        <div class="wim">
            <span>¿Quién soy?</span>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est odit aperiam tempore corporis fugiat quidem autem maiores veniam eum accusantium accusamus eaque ab quod in, labore praesentium quas atque aut!
                </p>
            </div>
        </div>
        <div class="wm">
            <span>¿Por qué elegirme?</span>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est odit aperiam tempore corporis fugiat quidem autem maiores veniam eum accusantium accusamus eaque ab quod in, labore praesentium quas atque aut!
                </p>
            </div>
        </div>
    </div>
    <div class="bar"></div>
    <div class="section-2">
        <div class="services">
            <span>Servicios que ofrezco</span>
            <div class="description">
                <ol>
                    <li>Servicio 1</li>
                    <li>Servicio 2</li>
                    <li>Servicio 3</li>
                    <li>Servicio 4</li>
                    <li>Servicio 5</li>
                </ol>
            </div>
        </div>
        <div class="modality">
            <span>Modalidad</span>
            <span class="modality-answ">Virtual</span>
            <span class="modality-answ">Presencial</span>
            <span class="modality-answ">Virtual y presencial</span>
        </div>

        <div class="btn-cita">
            <button class="cita" (click)="showModal()">Agendar cita</button>
        </div>
    </div>
    <div class="bar"></div>
    <div class="section-3"></div>
</div>

<!-- Button trigger modal -->
<button #btnDetails type="button" hidden class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    
</button>

<app-create-request></app-create-request>