header {
    padding: 16px;
    position: sticky;
    top: 0;
}

header img {
    width: 42px;
    cursor: pointer;
}

.profile {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.gray {
    color: gray;
}

.body {
    padding: 32px 32px 0;
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 3px;
    background-color: #00B0FF;
    border-radius: 3px;
}


/**
Section 1 styles
**/

.section-1 {
    width: 30%;
}

.strong {
    font-weight: 600;
}

.description {
    margin: 16px 0;
    padding: 4px;
    background-color: #FFF;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 23px rgba(63, 175, 255, 0.4);
    -moz-box-shadow: 0px 0px 29px -18px rgba(63, 175, 255, 0.80);
    box-shadow: 0 10px 23px rgb(61 174 255 /30%);
}


/**
Section 2 styles
**/

.section-2 {
    width: 30%;
}

.description li {
    margin-top: 8px;
}

.modality {
    display: flex;
    flex-direction: column;
}

.modality-answ {
    margin-left: 14px;
    margin-top: 4px;
}

.btn-cita {
    margin-top: 36px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-2 .cita {
    width: 70%;
    border-radius: 15px;
    height: 38px;
    background-color: #7dd6ff;
    border: 2px solid #00B0FF;
}

.section-2 .cita:hover {
    background-color: #00B0FF;
}

.section-3 {
    height: 400px;
    width: 30%;
    overflow: auto;
}

.card {
    margin-bottom: 10px;
    border: 1px solid #00B0FF;
    border-radius: 8px;
}

.card-text {
    font-size: 13px;
}

.no-results {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    color: #c6c6c6;
}