<app-loader *ngIf="loader"></app-loader>

<header *ngIf="!loader">
    <img src="assets/build/images/icons/arrow.png" (click)="goBack()" alt="" />
</header>

<div class="profile" *ngIf="!loader">
    <img [src]="doctorInfo?.perfil" alt="" />
    <span>{{ doctorInfo?.name }}</span>
</div>
<div class="body" *ngIf="!loader">
    <section class="section-1">
        <div class="wim" *ngIf="doctorInfo?.description2">
            <span class="strong">¿Quién soy?</span>
            <div class="description">
                <p>
                    {{ doctorInfo?.description }}
                </p>
            </div>
        </div>
        <div class="wm" *ngIf="doctorInfo?.description2">
            <span class="strong">¿Por qué elegirme?</span>
            <div class="description">
                <p>
                    {{ doctorInfo?.description2 }}
                </p>
            </div>
        </div>
    </section>
    <div class="bar"></div>
    <section class="section-2">
        <div class="services" *ngIf="doctorInfo?.services">
            <span class="strong">Servicios que ofrezco</span>
            <div class="description">
                <ol>
                    <li *ngFor="let item of doctorInfo?.services">{{ item }}</li>
                </ol>
            </div>
        </div>

        <div class="btn-cita" *ngIf="doctorInfo?.services">
            <button class="cita" (click)="showModal()">Agendar cita</button>
        </div>
    </section>
    <div class="bar"></div>
    <section class="section-3">
        <span class="strong">Reseñas</span>
        <div class="scrollable">
            <div *ngIf="false">
                <div *ngFor="let review of reviews">
                    <div class="description" style="width: 95%; margin: 24px 0">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ review.date }}</h6>
                            <p class="card-text">{{ review.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="true">
                <div class="card" style="width: 95%">
                    <div class="card-body">
                        <h5 class="card-title">Aún no hay reseñas</h5>
                        <p class="card-text">
                            Luego de tener su cita con el doctor
                            <strong>Nombre Apellido</strong> lo invitamos a crear una nueva reseña con su opinión para ayudar a otros usuarios a mejorar su experiencia
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Button trigger modal -->
<button #btnDetails type="button" hidden class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

<app-create-request [doctorServices]="doctorInfo?.services"></app-create-request>