main {
  margin: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first{
  margin: 0 100px;
  height: calc(100vh - 46px);
}

.logo {
  display: flex;
  align-items: center;
}

:hover.logo {
  cursor: pointer;
}

.logo span {
  margin-left: 7px;
  font-size: 32px;
  font-weight: 500;
}

.logo-img {
  width: 50px;
  border-right: 3px solid #00B0FF;
}

.logo-img img {
  width: 40px;
}

.options {
  display: flex;
}

.options .option-item {
  display: flex;
  align-items: center;
  margin-right: 32px;
  color: #00B0FF;
  cursor: pointer;
}

.options .option-item:hover {
  color: #0286c4;
}

.options .singup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00B0FF;
  min-width: 130px;
  height: 40px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.options .singup:hover {
  background-color: #0286c4;
}

.header{
  margin: 32px 120px 0;
}

.info{
  width: 40%;
  margin-top: 50px;
}

.banner{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right-side{
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.container-img{
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.blue-rectangle{
  background-image: linear-gradient(to right, #00B0FF, #7dd6ff);
  height: 90%;
  width: 90%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 50%;
}

.image{
  position: absolute;
  background-image: url('../../../../../assets/build/images/big/doctor_transparent3.png');
  background-size: cover;
  width: 94%;
  height: 100%;
  left: 18%;
  z-index: 2;
}

.infoMessage{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  width: 300px;
  height: 75px;
  border-radius: 15px;
  left: -20px;
  position: absolute;
  -webkit-box-shadow: 0 10px 23px rgb(0 0 0 / 40%);
      -moz-box-shadow: 0px 0px 29px -18px rgba(0, 0, 0, 0.39);
      box-shadow: 0 10px 23px rgb(0 0 0 / 40%);
}

.one{
  background-color: #fff;
  bottom: 210px;
}

.two{
  bottom: 110px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  border: 3px solid #1db7ff;
}

.three{
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  border: 3px solid #1db7ff;
}

.info span{
  font-size: 24px;
  font-weight: 500;
}

.info p{
  font-size: 60px;
  font-weight: 700;
}

.icon img{
  width: 36px;
  height: 36px;
  border-radius: 15px;
}

.info-text{
  margin-left: 6px;
  font-weight: 600;
  font-size: 12px;
  width: 110px;
}

.two .info-text{
  color: white;
}
.three .info-text{
  color: white;
}

.icons-info img{
  /* position: absolute; */
  width: 64px;
  border-radius: 50%;
  /* border:3.5px solid #1db7ff; */
}

.icons-info .white{
  border:3.5px solid #1db7ff;
}

.left-side{
  width: 60%;
  display: flex;
}

.second{
  padding-bottom: 20px;
}

.container-img2{
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
}

.blue-rectangle2{
  background-image: linear-gradient(to right, #00B0FF, #7dd6ff);
  height: 90%;
  width: 90%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 50%;
}



.image2{
  position: absolute;
  background-image: url('../../../../../assets/build/images/big/female-doctor.png');
  background-size: cover;
  width: 108%;
  right: 10%;
  height: 90%;
  z-index: 2;
}

.infoMessage2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 15px;
  width: 300px;
  height: 75px;
  border-radius: 15px;
  right: -25px;
  position: absolute;
  -webkit-box-shadow: 0 10px 23px rgb(0 0 0 / 40%);
      -moz-box-shadow: 0px 0px 29px -18px rgba(0, 0, 0, 0.39);
      box-shadow: 0 10px 23px rgb(0 0 0 / 40%);
}
.info-text2{
  margin-left: 6px;
  font-weight: 600;
  font-size: 14px;
  width: 150px;
  color: #fff;
}

.two2{
  bottom: 110px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(300px);
  border: 3px solid #1db7ff;
}

.icon2 img{
  width: 36px;
  height: 36px;
  border-radius: 15px;
  margin-right: 12px;
}

.icons-info2{
  margin-top: 24px;
}

.icons-info2 img{
  /* position: absolute; */
  width: 64px;
  border-radius: 50%;
  /* border:3.5px solid #1db7ff; */
}

.icons-info2 .white{
  border:3.5px solid #1db7ff;
}

.info2{
  width: 40%;
  margin-top: 50px;
}

.info2 .info-title{
  font-size: 32px;
  font-weight: 500;
}
.info2 span{
  font-size: 24px;
  font-weight: 500;
}

.reason img{
  margin-right: 6px;
  margin-bottom: 6px;
}

.reason span{
  font-size: 18px;
}

.city{
  width: 24px;
}

.short-description{
  margin-top: 30px;
}

.info .short-description span{
  font-size: 14px;
}




































footer{
  /* background-color: #00B0FF; */
  /* background-color: #000 */
  background-color: #0286c4;
  width: 100%;
  height: 60vh;
  padding: 0 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.f-container{
  height: 80%;
  width: 80%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.f-Container-ia{
  display: flex;
  width: 75%;
}

.f-logo{
  margin-right: 36px;
}



.ff{
  font-weight: 500;
  margin-right: 36px;
  padding-top: 16px;
}

.f-title{
  color: #c5c5c5;
  margin-bottom: 24px;
}

.f-info{
  margin-bottom: 16px;
  cursor: pointer;
  color: #fff;
}

.f-info:hover{
  color: #00ccff;
}

.f-social-media{
  display: flex;
}

.f-social-media img{
  margin-right: 8px;
}

.f-logo-sm img{
  margin-top: 24px;
  width: 54px;
}
.caja{
  width: 30px;
  height: 30px;
}

.f-Container-b{
  height: 50px;
  width: 80%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.fcb-left{
  margin-left: 32px;
}

.fcb-left span{
  font-size: 12px;
  margin-right: 20px;
  color: #c5c5c5;
}

.fcb-left span:hover{
  color: #00ccff;
  cursor: pointer;
}

.fcb-right{
  display: flex;
  flex-direction: column;
  text-align: end;
  color: #c5c5c5;
  font-size: 12px;
}




