<!-- Header -->
<main>
  <div class="logo">
    <div class="logo-img">
      <img src="assets/build/images/icons/logo.png" alt="" />
    </div>
    <span>InMedic</span>
  </div>
  <div class="options">
    <div class="option-item">Regístrate</div>
    <div class="singup">Iniciar sesión</div>
  </div>
</main>

<!-- Firts body -->
<main class="first">
  <div class="banner">
    <div class="info">
      <span>Bienvenido a InMedic</span>
      <p>Encuentra todo lo que buscas en un solo lugar</p>
      <div class="icons-info">
        <img src="assets/build/images/icons/alarma.png" alt="" />
        <img class="white" src="assets/build/images/icons/diente.png" alt="" />
        <img src="assets/build/images/icons/rodilla.png" alt="" />
        <img
          class="white"
          src="assets/build/images/icons/estomago.png"
          alt=""
        />
      </div>
    </div>
    <div class="right-side">
      <div class="container-img">
        <div class="blue-rectangle"></div>
        <div class="image"></div>
        <div class="infoMessage one">
          <div class="icon">
            <img src="assets/build/images/icons/search.png" alt="" />
          </div>
          <div class="info-text">Busca lo que necesitas</div>
        </div>
        <div class="infoMessage two">
          <div class="icon">
            <img src="assets/build/images/icons/user.png" alt="" />
          </div>
          <div class="info-text">Encuentra el mejor doctor</div>
        </div>
        <div class="infoMessage three">
          <div class="icon">
            <img src="assets/build/images/icons/check-mark.png" alt="" />
          </div>
          <div class="info-text">Obten soluciones</div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Second body -->
<main class="second">
  <div class="banner">
    <div class="left-side">
      <div class="container-img2">
        <div class="blue-rectangle2"></div>
        <div class="image2"></div>

        <div class="infoMessage2 two">
          <div class="info-text2">Nuestros beneficios</div>
          <div class="icon2">
            <img src="assets/build/images/icons/user.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="info2">
      <span class="info-title">Algunos de nuestros beneficios</span>
      <div class="icons-info2">
        <div class="reason">
          <img src="assets/build/images/icons/alarma.png" alt="" />
          <span>Disponibilidad de consultas 24 horas</span>
        </div>
        <img class="white" src="assets/build/images/icons/diente.png" alt="" />
        <img src="assets/build/images/icons/rodilla.png" alt="" />
        <img
          class="white"
          src="assets/build/images/icons/estomago.png"
          alt=""
        />
      </div>
    </div>
  </div>
</main>

<!-- Footer -->
<footer>
  <div>
    <span>&copy; 2022 | Todos los derechos reservados.</span>
  </div>
</footer>
