<div class="main">
  <div class="logo">
    <div class="logo-img">
      <img src="assets/build/images/icons/logo.png" alt="" />
    </div>
    <span>InMedic</span>
  </div>
  <div class="options-container">
    <div
      class="header-options"
      [ngClass]="{ selected: page === 'home' }"
      (click)="changePage('home')"
    >
      <span>Home</span>
    </div>
    <div
      class="header-options"
      [ngClass]="{ selected: page === 'services' }"
      (click)="changePage('services')"
    >
      <span>Servicios </span>
    </div>
    <div
      class="header-options"
      [ngClass]="{ selected: page === 'review' }"
      (click)="changePage('review')"
    >
      <span>Reseñas</span>
    </div>
  </div>
</div>
