:hover.card-hover {
    border: 3px solid #00B0FF;
}

.card {
    border-radius: 12px;
}

.card img {
    border-radius: 12px;
}

.card-body a {
    width: 100%;
}

.card-body p {
    font-size: 12px;
}