.card{
  height: 95px;
  margin: 16px;
  border-radius: 55px;
  display: flex;
  flex-direction: row;
  padding: 7px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 23px rgb(0 0 0 / 40%);
      -moz-box-shadow: 0px 0px 29px -18px rgba(0, 0, 0, 0.80);
      box-shadow: 0 10px 23px rgb(0 0 0 / 5%);
}




.info{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
}

.info span{
  font-size: 20px;
}






