img {
    width: 40px;
    padding-right: 10px;
}

.form-group input {
    margin: 0;
    margin-bottom: 12px;
}

.dropdowns {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}